In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,log_loss
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("cuisine_data.csv")
df

,CustomerID,Gender,Age,CityType,IncomeLevel,OrdersPerMonth,Vegetarian,SpicyPreference,CuisinePreference
0,CUST0001,Male,58,Urban,Medium,8,No,Medium,Chinese
1,CUST0002,Female,47,Urban,Medium,23,No,Low,Italian
2,CUST0003,Male,34,Urban,Low,9,Yes,High,Indian
3,CUST0004,Male,37,Rural,Low,2,Yes,Low,Indian
4,CUST0005,Male,42,Rural,Medium,14,Yes,Low,Chinese
...,...,...,...,...,...,...,...,...,...
795,CUST0796,Male,34,Urban,Medium,15,No,Medium,Italian
796,CUST0797,Male,54,Rural,Medium,10,No,Medium,Mexican
797,CUST0798,Male,42,Suburban,Medium,9,Yes,High,Chinese
798,CUST0799,Male,55,Suburban,High,1,Yes,High,Indian
799,CUST0800,Male,29,Urban,Medium,16,Yes,Low,Italian