In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,class_likelihood_ratios

In [3]:
df = pd.read_csv('customer_purchase_data.csv')
df

     Age  Salary  SpendingScore  Purchased
0     56   62318             62          1
1     46   90173             17          0
2     32   90390             88          1
3     60   72329              3          0
4     25   63088             32          0
..   ...     ...            ...        ...
795   44   46172             27          0
796   51   62874             32          0
797   55   27657             21          0
798   50  104386              8          0
799   41   45425             72          1

[800 rows x 4 columns]

In [5]:
X = df[['Age','Salary','SpendingScore']]
y = df['Purchased']

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=31)



scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
from sklearn.metrics import classification_report


knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train,y_train)

pred = knn.predict(X_test)
acc = accuracy_score(y_test,pred)
conf = confusion_matrix(y_test,pred)
classi = classification_report(y_test,pred)
print(f'Accuary:{acc}')
print(f'Confution :\n{conf}')
print(f'classification_report\n:{classi}')

Accuary:0.9166666666666666
Confution :
[[112   3]
 [ 17 108]]
classification_report
:              precision    recall  f1-score   support

           0       0.87      0.97      0.92       115
           1       0.97      0.86      0.92       125

    accuracy                           0.92       240
   macro avg       0.92      0.92      0.92       240
weighted avg       0.92      0.92      0.92       240