In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [7]:
df = pd.read_csv('employee_attrition_data.csv')
df.drop('EmpID',axis=1,inplace=True)
df

     Age  Experience  Salary  WorkHoursPerWeek  SatisfactionLevel  Attrition
0     50          25   54856                54               0.12          0
1     36           3   34200                55               0.15          1
2     29          18   89178                46               0.17          0
3     42          19   58997                53               0.64          0
4     40          32   50611                48               0.74          0
..   ...         ...     ...               ...                ...        ...
795   32          28  130432                44               0.86          0
796   29           0  102425                48               0.04          0
797   47          34  117949                52               0.79          0
798   26           5  102811                53               0.41          0
799   27           4   27461                56               0.87          0

[800 rows x 6 columns]

In [9]:
X = df[['Age','Experience','Salary','WorkHoursPerWeek','SatisfactionLevel']]
y = df['Attrition']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=31)



scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [11]:
knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train,y_train)

pred = knn.predict(X_test)
acc = accuracy_score(y_test,pred)
conf = confusion_matrix(y_test,pred)
classi = classification_report(y_test,pred)
print(f'Accuary:{acc}')
print(f'Confution :\n{conf}')
print(f'classification_report\n:{classi}')

Accuary:0.9
Confution :
[[210   1]
 [ 23   6]]
classification_report
:              precision    recall  f1-score   support

           0       0.90      1.00      0.95       211
           1       0.86      0.21      0.33        29

    accuracy                           0.90       240
   macro avg       0.88      0.60      0.64       240
weighted avg       0.90      0.90      0.87       240