In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [14]:
df = pd.read_csv('health_patient_data.csv')
df.drop('PatientID',axis=1,inplace=True)
df

     Age   BMI  Glucose  BloodPressure  Insulin  Diabetes
0     58  37.1    132.4           83.7     59.0         1
1     48  29.9     89.0           68.7      1.4         0
2     34  26.1    134.1           73.5     60.3         1
3     62  18.4     93.2           82.0     93.8         1
4     27  19.8    164.6           72.2     90.5         1
..   ...   ...      ...            ...      ...       ...
795   24  20.2    112.5           60.3     96.7         0
796   50  34.9    105.2           70.8     95.3         1
797   24  26.2     88.7           85.4     47.1         0
798   57  26.3     80.1           72.3    101.2         1
799   22  32.5     87.1           85.5    144.9         1

[800 rows x 6 columns]

In [15]:
X = df.drop('Diabetes',axis=1)
y=df['Diabetes']
y

0      1
1      0
2      1
3      1
4      1
      ..
795    0
796    1
797    0
798    1
799    1
Name: Diabetes, Length: 800, dtype: int64

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=31)



scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(X_train,y_train)

pred = knn.predict(X_test)
acc = accuracy_score(y_test,pred)
conf = confusion_matrix(y_test,pred)
classi = classification_report(y_test,pred)
print(f'Accuary:{acc}')
print(f'Confution :\n{conf}')
print(f'classification_report\n:{classi}')

Accuary:0.8625
Confution :
[[ 60   7]
 [ 26 147]]
classification_report
:              precision    recall  f1-score   support

           0       0.70      0.90      0.78        67
           1       0.95      0.85      0.90       173

    accuracy                           0.86       240
   macro avg       0.83      0.87      0.84       240
weighted avg       0.88      0.86      0.87       240