In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [3]:
df = pd.read_csv('telecom_churn_data.csv')
df

,CustomerID,Tenure,MonthlyCharges,TotalCharges,ContractType,TechSupport,StreamingTV,PaymentMethod,Churn
0,CUST1000,52,47.22,7819.68,One year,Yes,Yes,Mailed check,0
1,CUST1001,15,41.25,3314.57,One year,No,No,Bank transfer,0
2,CUST1002,72,43.06,6978.95,Month-to-month,Yes,No,Credit card,1
3,CUST1003,61,49.96,6280.85,One year,No,Yes,Mailed check,0
4,CUST1004,21,42.14,4579.43,Month-to-month,No,Yes,Bank transfer,0
...,...,...,...,...,...,...,...,...,...
795,CUST1795,53,75.59,4855.20,Month-to-month,No,No,Mailed check,0
796,CUST1796,22,37.46,7150.93,One year,Yes,Yes,Mailed check,0
797,CUST1797,21,76.05,3602.70,One year,Yes,No,Mailed check,0
798,CUST1798,70,99.96,4896.01,One year,Yes,No,Mailed check,1
799,CUST1799,70,33.37,5087.33,Month-to-month,Yes,No,Electronic check,0